.header-container{
    font-weight: 400;
    background-color: rgb(4, 9, 16);
}

.header-container h2{
    color:#FFC641 ;
    
}

.navigation-links a{
    padding : 20px;
    color: #cfd5e3;
    text-transform: uppercase;
}



